<form #loginForm="ngForm" (ngSubmit)="login()"  autocomplete="off" 
    *ngIf="!forgotedPassword" data-bs-theme="light">

    <h2 class="text-center text-secondary">Sign in</h2>

    <div class="mb-3">
        <app-text-input [formControl]='registerForm.controls["email"]' 
        [label]='"Email"'></app-text-input>
    </div>

    <div class="mb-3">
        <app-text-input [formControl]='registerForm.controls["password"]' 
        [label]='"Password"' [type]='"password"'></app-text-input>
    </div>

    <button class="btn btn-dark mt-3" type="submit">
        Login
    </button>

    <button class="btn btn-primary mt-3" type="button" (click)="changeState()">
        Forgot Password?
    </button>
</form>

<form #loginForm="ngForm" (ngSubmit)="forgotPassword()"  autocomplete="off" 
    *ngIf="forgotedPassword" data-bs-theme="light">

    <h2 class="text-center text-secondary">Forgot password</h2>

    <input name="email" 
    [(ngModel)]="model.email" 
    class="form-control mt-3" 
    type="text" 
    placeholder="Email">

    <button class="btn btn-dark mt-3" type="submit">
        Send email
    </button>
</form>