<form #resetForm="ngForm" (ngSubmit)="resetPassword()" autocomplete="off">
    <h2 class="text-center text-secondary">Reset password</h2>

    <div class="mb-3">
        <app-text-input [formControl]='registerForm.controls["password"]' 
        [label]='"Password"'></app-text-input>
    </div>

    <div class="mb-3">
      <app-text-input [formControl]='registerForm.controls["confirmPassword"]' 
      [label]='"ConfirmPassword"'></app-text-input>
    </div>

    <button class="btn btn-dark mt-3" type="submit">
      Reset password
    </button>
</form>
  